<html>
    <head>
        {% if title %}
        <title>{{ title }} - Grandsteram configuration tool</title>
        {% else %}
        <title>Grandsteram configuration tool</title>
        {% endif %}
    </head>
    <body>
        <div>
        {% for link in links %}
            {% if link.class == 'logout' %}
            [<a href="{{ url_for(link.class) }}">{{ link.name }}</a>: <a href="{{ url_for('user', username=current_user.username) }}">{{ current_user.username }}</a>]
            {% else %}
            <a href="{{ url_for(link.class) }}">{{ link.name }}</a>
            {% endif %}
        {% endfor -%}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>